services:
  nginx:
    image: managerlab/managerlab-proxy
    restart: always
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - 80:80
      - 443:443
    depends_on:
      - managerlab

  managerlab:
    image: managerlab/managerlab
    restart: always
    environment:
      GOOGLE_ANALYTICS_KEY:
      JWT_SECRET:
      DATABASE_URL: mysql://root:@localhost:3306/managerlab
      TELEGRAM_TOKEN:
      TELEGRAM_CHAT_ID:
      IMAGES_CUSTOMERS_FOLDER: /customers
      IMAGES_USERS_FOLDER: /team
      IMAGES_BLOGS_FOLDER: /blogs
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - db

  db:
    image: mariadb:12
    restart: always
    environment:
      MARIADB_USER: managerlab
      MARIADB_PASSWORD: 1234
      MARIADB_ROOT_PASSWORD: 1234
      MARIADB_DATABASE: managerlab
    volumes:
      - db:/var/lib/mysql

volumes:
  db: