@import "tailwindcss";

:root {
    --theme-color: #0E0F11;
    --bg-color: #18191B;
    --color-surface: #A4A4A4;
    --main-color: #7C00F2;

    /* React Toastify */
    --toastify-toast-background: var(--bg-color);
}

body {
    font-family: var(--font-inter);
}

img {
    width: 100%;
    height: 100%;
}